// Define desired color palettes for each intention.
$primary: "light-blue";
$accent: "blue-grey";
$warn: "pink";

@import 'ember-paper';
@import "ember-paper-link";

.answerBtn {
  font-size: 20px;
  font-weight: bold;
}

.sides {
  background-color: #fafafa;
  width: 190px;
}

div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: small;
}


/*
red
pink
purple
deep-purple
indigo
blue
light-blue
cyan
teal
green
light-green
lime
yellow
amber
orange
deep-orange
brown
grey
blue-grey
*/


