// Define desired color palettes for each intention.
$primary: "light-blue";
$accent: "blue-grey";
$warn: "pink";

@import 'ember-paper';

/*
red
pink
purple
deep-purple
indigo
blue
light-blue
cyan
teal
green
light-green
lime
yellow
amber
orange
deep-orange
brown
grey
blue-grey
*/


