// Define desired color palettes for each intention.
$primary: "light-blue";
$accent: "blue-grey";
$warn: "pink";

@import 'ember-paper';
@import "ember-paper-link";

.answerBtn {
  font-size: 20px;
  font-weight: bold;
}

.side-left {
  background-color: #fafafa;
  width: 190px;
  height: 510px;
  overflow: hidden;
}

.side-right {
  background-color: #fafafa;
  width: 190px;
  height: 510px;
  overflow: auto;
}

div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: small;
}

md-card {
  height: 500px !important;
}

/*
.statz {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.statz td,
.statz th {
  border: 0px solid #ddd;
  
  font-size: 13px;
}

.statz tr:nth-child(even) {
  background-color: #f2f2f2;
}

.statz tr:hover {
  background-color: rgb(237, 237, 217);
}

.statz th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
*/

/*
red
pink
purple
deep-purple
indigo
blue
light-blue
cyan
teal
green
light-green
lime
yellow
amber
orange
deep-orange
brown
grey
blue-grey
*/