
{{!-- template-lint-disable no-inline-styles --}}
<div class="layout-row flex">
  <div class="{{this.lentilClass}}"></div>
  <div style="padding-top:4px; padding-left:10px;">{{this.result}}</div>
</div>